.vscode
Datasets
depresslm
LabeledImages
Prompts
Responses
UnlabeledImages
UserImages
Users
venv
conversations.json
Dataset.zip
token.json
Model
Usuarios
ModelAPI/__pycache__
ModelAPI/depresslm
ModelAPI/llama-2-7b-chat-hf
ModelAPI/Working
depressionapp/node_modules
UserData
server/__pycache__
SystemAPI/app/__pycache__
SystemAPI/app/migrations
SystemAPI/venv
app.log
TestCredentials.md